.btn-secondary {
    background-color: #3c3c3c;
    padding: 6px;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #303030;
}

.btn-folder {
    background-color: #1e1e1e;
}

.btn-folder:hover {
    background-color: #1e1e1e;
}

.btn-gray {
    background-color: #3c3c3c;
    border-radius: 5px;
    padding: 3px;
    color: #ccc;
}

.btn-gray:hover {
    background-color: #2e2e2e;
}